

<div class="row">

    <h1 class="text-center">Proyectos</h1>
    <div class="card p-0" style="width: 18rem;">
        <%= image_tag 'img_1.jpg', class:'w-100' %>
        <div class="card-body">
          <h5 class="card-title">Viajando por Chile</h5>
          <p class="card-text">Se realizo el desafio de viajando por Chile, donde utilizamos estructura html, css, componentes de bootstrap.</p>
          <a href="https://github.com/hcoagithub/viajes-chile" class="btn btn-primary">Ver repositorio</a>
        </div>
      </div>
    </div>
</div>


